# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.swp
vendor/*
.idea/
testing/*
bin/*
# to avoid the error 'error=git is currently in a dirty state, please check in your pipeline what can be changing the following files:' on goreleaser
.github/CHANGELOG.md