general:
  log_path: ""
  rules_path: "rules"
  js_path: "js"
  templates_path: "templates"
  debug: false

twitter:
  consumerKey: ""
  consumerSecret: ""
  accessToken: ""
  accessSecret: ""
  keywords: "#italy #coding #malware something"
  stallWarnings: "true"