{
    "log_path": "",
    "log_level": "info",

    "twitter": {
        "consumerKey": "",
	    "consumerSecret": "",
	    "accessToken": "",
	    "accessSecret": "",
        "keywords": "#italy #coding #malware something",
        "stallWarnings": "true"
    }
}
